{% extends 'base.html.twig' %}

{% block body_header %}

{% endblock %}

{% block body_content %}
    <h1 class="text-center"><span class="text-danger">Kia</span><span class="text-primary">La</span><span class="text-success">Plus</span><span class="text-info">Grosse</span></h1>
{% endblock %}

